/* CONTAINER */

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #141d2f;
  color: #fff;
  position: absolute;
  top: 0;
}

.container.light {
  background: #f6f8ff;
  color: #141d2f;
}

@media (min-width: 450px) {
  .container {
    padding: 3rem 2rem;
  }
}

/* DARK/LIGHT MODES  */
/* darkTheme: {
      containerBackground: #141D2F,
      themeBtn: #fff,
      CardBg: #1E2A47,
      textNorm: #fff,
      textBolded: #fff,
}

lightTheme: {
      containerBackground: #F6F8FF,
      themeBtn: #4b6a9b,
      CardBg: #FEFEFE,
      textNorm: #697c9A,
      textBolded: #2B3442,
} */
