.search-form {
  max-width: 73.3rem;
  /* max-width: 400px; */
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e2a47;
  border-radius: 1.5rem;
  margin-top: 3rem;
  padding: 0.7rem 0.7rem 0.7rem 1.6rem;
  transition: height 0.3s ease;
}

.search-form.light {
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.search-icon {
  fill: #0079ff;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.input-label {
  height: 2.4rem;
}

.search-input {
  height: 4rem;
  flex: 1;
  font-size: 1.4rem;
  background: none;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin: 0 2rem 0 0.6rem;
  padding-left: 1rem;
}

.search-input.light {
  background: #eef3fa;
  color: #1e2a47;
}

.search-input::placeholder {
  font-size: 1.2rem;
  color: #fff;
}

.search-input.light::placeholder {
  color: #697c9a;
}

.search-input:focus {
  outline: 1px dashed #0079ff;
  cursor: text;
}

.search-btn {
  width: 8rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  background: #0079ff;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.search-btn:hover {
  box-shadow: 0px 0px 15px -3px #0079ff;
}

@media only screen and (min-width: 479px) {
  .search-form {
    max-width: 73.3rem;
  }
  .search-icon {
    font-size: 2.2rem;
  }

  .search-input::placeholder {
    font-size: 1.6rem;
  }

  .search-btn {
    width: 8.5rem;
    font-size: 1.6rem;
  }
}
