.profile-container {
  padding: 3rem 1rem;
  width: 100%;
}

/* CARD HEADER (profile pix, name, @login, date joined*/
.card-header {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  gap: 4rem;
}

img {
  height: 10rem;
  border-radius: 50%;
}

.card-header-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  position: relative;
}

.login {
  color: #0079ff;
  margin-bottom: 1rem;
}

.date {
  font-size: 1.4rem;
}

/* CARD CONTENT (bio, github link, repos, following/ers)*/
.bio {
  padding: 2rem 0;
}

.github-icon {
  color: #0079ff;
  font-size: 2.2rem;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  gap: 1rem;
  /* position: relative; */
}

.github-link a {
  color: #0079ff;
  text-decoration: none;
}

.github-link a:hover,
.github-link a:focus {
  text-decoration: underline;
  /* border-bottom: 1px dashed #0079ff; */
}

.repos-container {
  min-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
  background: #141d2f;
  border-radius: 1rem;
  padding: 1.6rem 2.4rem;
}

.repos-container.light {
  background: #eef3fa;
}
.repos-container-heading {
  font-size: 1.4rem;
}

.repos-container-row {
  font-size: 2rem;
  font-weight: bold;
}
.repos-container-row.light {
  color: #2b3442;
}

/* CARD FOOTER (location, twitter, website, comapny)*/
.card-footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 1.4rem;
  margin-top: 3rem;
}

.card-footer-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons {
  font-size: 2.2rem;
}

@media only screen and (min-width: 479px) {
  .card-footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 1.4rem;
    margin: 2rem 0;
  }
}

@media only screen and (min-width: 768px) {
  img {
    height: 12rem;
  }
  .profile-container {
    padding: 3rem 2rem;
  }
  .repos-container {
    column-gap: 5rem;
  }
  .card-content,
  .card-footer {
    margin-left: 16rem;
  }

  .date {
    position: absolute;
    top: 3.8rem;
    right: 0;
  }
}
